[submodule "repos/vllm"]
	path = repos/vllm
	url = https://github.com/jeffrey-dot-li/vllm
[submodule "repos/pynput"]
	path = repos/pynput
	url = git@github.com:induction-labs/pynput.git
[submodule "repos/osworld"]
	path = repos/osworld
	url = git@github.com:induction-labs/osworld.git
[submodule "repos/lingua"]
	path = repos/lingua
	url = git@github.com:induction-labs/lingua.git
