[project]
name = "modeling"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [{ name = "Jeffrey Li", email = "jeffrey.dot.li@gmail.com" }]
requires-python = ">=3.12"
dependencies = [
  "ray>=2.45.0",
  "torch==2.7.0+cu128; platform_system == 'Linux' and platform_machine == 'x86_64'",
  "torch==2.7.0; platform_system != 'Linux' or platform_machine != 'x86_64'",
]

[dependency-groups]
dev = ["pytest>=8.3.5"]
workspace = ["vllm"]

[tool.uv]
default-groups = ["dev", "workspace"]

[tool.uv.sources]
torch = [
  { index = "torch_12.8", marker = "platform_system == 'Linux' and platform_machine == 'x86_64'" },
]
vllm = { workspace = true }

[[tool.uv.index]]
name = "torch_12.8"
url = "https://download.pytorch.org/whl/cu128"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src"]
sources = ["src"]
