[project]
name = "modeling"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
authors = [{ name = "Jeffrey Li", email = "jeffrey.dot.li@gmail.com" }]
requires-python = ">=3.12"
dependencies = [
  "datasets>=3.6.0",
  "numpy>=2.2.6",
  "ray>=2.45.0",
  "torch==2.7.0+cu128; sys_platform == 'linux' and (platform_machine == 'aarch64' or platform_machine == 'x86_64')",
  "triton>=3.3.0; sys_platform == 'linux' and (platform_machine == 'aarch64' or platform_machine == 'x86_64')",
  "torch==2.7.0; sys_platform != 'linux'",
  "tqdm>=4.67.1",
  "transformers>=4.52.4",
  "wandb>=0.19.11",
]

[dependency-groups]
dev = ["ipython>=9.3.0", "pytest>=8.3.5"]
# vllm = ["vllm"]

[tool.uv]
default-groups = ["dev"]
environments = ["platform_machine == 'x86_64'", "platform_machine == 'aarch64'"]

[tool.uv.sources]
torch = [
  { index = "torch_12.8_x86", marker = "sys_platform == 'linux' and platform_machine == 'x86_64'" },
  { index = "torch_12.8_aarch64", marker = "sys_platform == 'linux' and platform_machine == 'aarch64'" },
]
triton = [{ index = "torch_general" }]

# vllm = { path = "../vllm" }

[[tool.uv.index]]
name = "torch_general"
url = "https://download.pytorch.org/whl"

[[tool.uv.index]]
name = "torch_12.8_x86"
url = "https://download.pytorch.org/whl/cu128"
explicit = true


[[tool.uv.index]]
name = "torch_12.8_aarch64"
url = "https://download.pytorch.org/whl/cu128"
explicit = true
# url = "https://download.pytorch.org/whl/cu128/torch-2.7.0%2Bcu128-cp310-cp310-manylinux_2_28_aarch64.whl"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src"]
sources = ["src"]
